@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');

body{
    background: #E0E2CE;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background: lightblue;
    padding: 10px;
}

h1{
    color: darkblue;
}

h3{
    color: rgb(235, 19, 94);
}

/* div{
    font-size: 10px;
} */

p{
    color: hsl(116, 89%, 18%);
    font-family: 'Rubik Beastly', Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5em;
}

#second-p{
    color: hsl(323, 87%, 12%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2em;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], 
.my-form input[type="password"], 
.my-form input[type="email"]{
    padding: 8px;
    width: 100%;
}

.button{
    background: rgb(235, 19, 94);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}

.button:hover{
    background: darkblue;
    cursor: pointer;
}